html { 
    font-family: sans-serif; 
    background: black; 
    padding: 1rem; 
}

body {
    color: rgb(192, 182, 182); 
 }

a:link {
    color: orange;
}

a:visited {
    color: green;
}

a:hover {
    text-decoration: none;
}