<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testes</title>
    <link rel="stylesheet"  href="./assets/css/style.css">
</head>
<body>
   <h1>Pagina inicial</h1>
   <section class="container">
    <form action="/" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <label>Cliente</label>
        <input type="text" name="cliente">
        <button>Submit</button>
    </form>
   </section>
</body>
</html>